

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    
    background: linear-gradient(90deg, rgb(235, 234, 234) 0%, rgb(24, 24, 22) 38%, rgb(20, 19, 19) 85%);
}

.mainCover{
    width: 100%;
    height: 70vh;
    position: relative;
    background: linear-gradient(transparent, rgba(0,0,0,0.2));
    overflow: hidden; 
}
.mainCover img{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -10;
    bottom: 0;
}

.mainCover::after{
    content: '';
    background: linear-gradient(transparent, white);
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 20px;
}

.header{
    transition: all 0.5s;
    width: 75%;
    position: relative;
    margin-top: 50px;
    align-items: center;
    text-align: center;
}
.getTop{
    margin-top: 60px;
}
.anchor-tags{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    z-index: 100;
}

.anchor-tags ul li{
    align-items: center;
    border: gray 1px solid;
    margin: 25px 5px;
    float: left;
    list-style: none;
    
}
.anchor-tags ul li a{
    display: inline-block;
    color: rgb(247, 245, 245);
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding: 8px 20px; 
}
.anchor-tags ul li a:hover{
    background-color: rgb(112, 26, 240);
}


.mainArea{
    position: relative;
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px; 
}

.mainArea h1{
    position: relative;
    font-family: 'Quicksand', sans-serif;;
    letter-spacing: 3px;

}

.container-box,
.container-box-image-left{
    position: relative;
    justify-content: space-between;
    display: flex;
    height: 380px;
    width: 75%;
    flex-wrap: wrap;
    z-index:-1 ;
    margin: 25px 0;
}

.container-box img{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 5;
}



.container-box-image-left img{
    height: 100%;
    z-index: 5;
}
.container-box-image-left .textArea{
    position: absolute;
    height: 280px;
    right: 0;
    top: 0;
}


.textArea{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 55%;
    z-index: 6;
    background-color: #F3EFE0;
    padding: 50px;
}

.textArea .h2Title{
    color: #22A39F;
    font-size: 25px;  
    text-transform: uppercase;  
} 

.textArea p{
    line-height: 25px;
}

